<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_apk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_apk"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inventory_system_HT"
        android:usesCleartextTraffic="true">

        <activity
        android:name=".Activity.MainActivity"
        android:exported="true"
        android:noHistory="true"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.StockInActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.StockPrepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.StockPrepProductActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.StockTakingActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.TagRegisActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.SearchItemActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.SearchSignalActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.StockOutActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
</application>
    </manifest>